<div class="container-fluid">
    <footer class="py-5 px-5">
      <div class="row">
        <div class="col-6 col-md-2 mb-3">
          <h5>Section</h5><br>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-body-secondary">Home</a></li>
            <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-body-secondary">Features</a></li>
            <li class="nav-item mb-2"><a href="/dashboard" class="nav-link p-0 text-body-secondary">Dashboard</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
          </ul>
        </div>
        
        <div class="col-6 col-md-2 mb-3">
          <h5>Our Other Apps</h5><br>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="https://gemini.google.com/app" target="_blank" class="nav-link p-0 text-body-secondary">Gemini</a></li>
            <li class="nav-item mb-2"><a href="https://calendar.google.com/calendar" target="_blank" class="nav-link p-0 text-body-secondary">Calender</a></li>
            <li class="nav-item mb-2"><a href="https://files.google.com/" target="_blank" class="nav-link p-0 text-body-secondary">File</a></li>
            <li class="nav-item mb-2"><a href="https://www.google.com/maps" target="_blank" class="nav-link p-0 text-body-secondary">Maps</a></li>
            <li class="nav-item mb-2"><a href="https://mail.google.com/" target="_blank" class="nav-link p-0 text-body-secondary">G-Mail</a></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-2 mb-3">
          <h5>Contect Me</h5><br>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="https://www.linkedin.com/in/priyanshu-valiya19012006/" target="_blank" class="nav-link p-0 text-body-secondary">LinkedIn</a></li>
            <li class="nav-item mb-2"><a href="http://github.com/dashboard" target="_blank" class="nav-link p-0 text-body-secondary">GitHub</a></li>
            <li class="nav-item mb-2"><a href="https://www.facebook.com/profile.php?id=100093844835271" target="_blank" class="nav-link p-0 text-body-secondary">Facebook</a></li>
            <li class="nav-item mb-2"><a href="mailto:valiyapriyansukumar@gmail.com" target="_blank" class="nav-link p-0 text-body-secondary">G-Mail</a></li>
            <li class="nav-item mb-2"><a href="http://www.instagram.com/priyanshu_valiya/" target="_blank" class="nav-link p-0 text-body-secondary">Instagram</a></li>
          </ul>
        </div>
  
        <div class="col-md-5 offset-md-1 mb-3 py-3">
          <form>
            <h5>Subscribe to our newsletter</h5><br>
            <p>Monthly digest of what's new and exciting from us.</p>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
              <button class="btn btn-primary" type="button">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </footer>
  </div>