<header class="d-flex flex-wrap justify-content-center py-3 px-5 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <span class="fs-4">Google Notes</span>
  </a>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="/" class="nav-link px-2 link-dark">Home</a></li>
    <li><a href="/dashboard" class="nav-link px-2 link-dark">Dashboard</a></li>
    <li><a href="https://www.linkedin.com/in/priyanshu-valiya19012006/" target="_blank" class="nav-link px-2 link-dark">About</a></li>
  </ul>

  <div class="col-md-3 text-end">
    <a href="/signup" type="button" class="btn btn-outline-dark me-2">Sign Up</a>
    <a href="/login" type="button" class="btn btn-primary">Log In</a>
  </div>
</header>