<% layout("/layouts/boilerplate.ejs") %>
<link rel="stylesheet" href="../../style.css">
<body>
    <div class="container-fluid container-fluid-custom py-md-5 py-5 spe-font index-body">
        <img class="human human1" src="https://raw.githubusercontent.com/RaddyTheBrand/Notes-NodeJs-CRUD-MongoDB/8035f76e7b9a106c981fde8ef32dc3cf363260bf/public/img/human-1.svg" alt="image">
        <main>
          <div class="row text-center justify-content-center">
            <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
              <h1 class="display-4 fw-bold mt-5 mb-4 position-relative home-title">
                Write your thoughts down as they come to you.
              </h1>
              <a href="/signup" class="btn btn-primary btn-lg">Try Notes, It's FREE !</a>
            </div>
          </div>
        </main>
        <img class="human human2" src="https://raw.githubusercontent.com/RaddyTheBrand/Notes-NodeJs-CRUD-MongoDB/8035f76e7b9a106c981fde8ef32dc3cf363260bf/public/img/human-2.svg" alt="image">
      </div>
</body>